<app-top></app-top>
<div *ngIf="jogoEmAndamento; else fimDeGame">
    <app-painel (encerrarGame)="encerrarGame($event)"></app-painel>
</div>
<ng-template #fimdeGame>
    <div *ngIf="tipoDeEncerramento === 'derrota';else fimDeGameVitoria" class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: red;">Fim de game, infelizmente você perdeu!
                </h3>
                <button class="btn btn-primary" (click)="reiniciarGame()">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeGameVitoria>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: green;">
                    Fim de game, você ganhou! Parabéns.
                </h3>
                <button class="btn btn-primary" (click)="reiniciarGame()">Jogar Novamente!</button>
            </div>
        </div>
    </div>
</ng-template>