<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progresso [progresso]="progresso"></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas [tentativas]="tentativas"></app-tentativas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>{{ instrucoes }}</h6>
                <p>{{ rodadaPalavra.palavraEng }}</p>
                <div class="form-group">
                    <textarea cols="30" rows="3" class="form-control" (input)="atualizaResposta($event)"
                        [value]="resposta"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" (click)='verificaResposta()'>Verificar
                        Resposta</button>
                </div>
            </div>
        </div>
    </div>
</div>